:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-light-grey: #f3f3f3;
  --text-color: var(--color-black);


  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* defining custom font-weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;


  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: 0.04rem;
  --nav-item-display: inline-block;
  --nav-item-margin: 0 0 3rem 0;
  --nav-item-link-hover: var(--color-primary);
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #146839;
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.toolbar span {
  margin-left: 15px;
}

.username {
  margin-right: 20px;
  margin-top: 11px;
}

.navbar-menu {
  float: right;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.toolbar a {
  margin-left: 10px;
}

.user {
  margin-right: 50px;
}
.nav .nav-item {
  font-family: var(--nav-item-font-family);
  font-weight: var(--nav-item-font-weight);
  font-size: var(--nav-item-font-size);
  letter-spacing: var(--nav-item-letter-spacing);
  display: var(--nav-item-display);
  margin: var(--nav-item-margin);
}

.nav .nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav .nav-link:hover {
  color: var(--nav-item-link-hover);
}

a:link {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: var(--color-light-grey);
}
